python-dotenv
requests
pydantic

langchain
langchain-text-splitters
langchain-community
langchain-ollama

paddlepaddle-gpu==3.2.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu126/
paddleocr
opencv-python
Pillow
numpy
scipy

pdf2image
pypdf
python-multipart

tqdm
ollama
fastapi
uvicorn

loguru
jsonschema


